@import '~material-icons/iconfont/material-icons.css';
@import '~material-icons/css/material-icons.scss';

@import "~bootstrap/scss/bootstrap";

.material-icons{
    font-size:30em;
    cursor: pointer;
}

body{
    background-color: gray;
}

#location{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

#current{
    width:100%;
    text-align: center;
}

.marginTop2{
    margin-top: 2em;
}
.marginTop6{
    margin-top: 6em;
}

.marginBottom2{
    margin-bottom:2em;
}